<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DataSoure" value="DB\Noise.mdb"/>  <!--数据库路径-->
    <add key="ConnString" value="server=192.168.1.5;database=GC_Digital_DB2;uid=sa;pwd=123456"/>
    <add key="TimeOut" value="10"/>                                <!--读取超时时长，默认30秒-->
    <add key="Time" value="2"/>                                    <!--采集时长，固定为2小时-->
    <add key="SerialPort" value="COM3"/>                           <!--串口号-->
    <add key="BaudRate" value="9600"/>                             <!--波特率-->
    <add key="ComTime_Template" value="20"/>                       <!--记录仪模板参数：远传通讯时间-->
    <add key="RecTime_Template" value="14"/>                       <!--记录仪模板参数：记录时间-->
    <add key="Span_Template" value="4"/>                           <!--记录仪模板参数：采集间隔-->
    <add key="LeakValue_Template" value="70"/>                     <!--记录仪模板参数：报漏幅度值-->
    <add key="LeakHZ_Template" value="300"/>                       <!--记录仪模板参数：频率分段值-->
    <add key="Power_Template" value="0"/>                          <!--记录仪模板参数：运行状态-->
    <add key="ControlPower_Template" value="0"/>                   <!--记录仪模板参数：远传功能-->
    <add key="Port_Template" value="8080"/>                        <!--记录仪模板参数：远传端口-->
    <add key="Adress_Template" value="192.168.1.1"/>               <!--记录仪模板参数：远传地址-->
    <add key="RecorderVoice" value="record.wav"/>                  <!--记录仪声音文件路径-->
    <add key="LeakVoice" value="leak.wav"/>                        <!--漏水报警声音文件路径-->
    <add key="Max1" value="4500"/>
    <add key="Max2" value="2300"/>
    <add key="Min1" value="4000"/>
    <add key="Min2" value="1800"/>
    <add key="Calc" value="1"/>
    <add key="StandardAMP" value="10"/>                             <!--静态漏水标准幅度值-->
    <add key="Parity" value="NONE"/>                               <!--奇偶校验位默认NONE--> 
    <add key="DataBits" value="8"/>                                <!--数据位默认8位-->
    <add key="StopBits" value="ONE"/>                              <!--停止位默认ONE-->
    <add key="DCComponentLen" value="10"/>                         <!--直流分量长度-->
    <add key="Skin" value=""/>                                     <!--使用的皮肤-->
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
