<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBString" value="Data Source=EO4TP3Y6UN5CP7Y\EXPRESS;Initial Catalog=SupervisoryCmt;Persist Security Info=True;User ID=sa;Password=123"/>
    <add key="PreSlopeLowLimitColor" value="-16731920"/>
    <add key="PreUpLimtColor" value="-256"/>
    <add key="PreSlopeUpLimitColor" value="-9424736"/>
    <add key="PreLowLimitColor" value="-1048576"/>
    <add key="GPRSIP" value="192.168.1.126"/>
    <add key="GPRSPORT" value="6800"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
