<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AutoTimingEnable" value="false"/>
    <add key="AutoTimingInterval" value="60"/>
    <add key="TryAllHosts" value="true"/>
    <add key="AutoHide" value="false"/>
    <add key="AutoStart" value="false"/>
    <add key="Service" value="false"/>
    <add key="ServiceIP" value=""/>
    <add key="ServicePort" value="13"/>
  </appSettings>
</configuration>